.flexMenu li a {
    color: $colorLinks;
}

.contenido{
    color: $colorContenido;
}

.contenido2 .contenido3 .contenido4 .contenido5 .contenido6 .contenido7{
    color: $colorLinks;
}


.footer{
    color: $colorFooter
}