.flexMenu li a {
    color: $colorLinks;
}

.contenido{
    color: $colorContenido;
}


.contenido2{
    color: $colorLinks;
}

.contenido3{
    color: $colorLinks;
}

.contenido4{
    color: $colorLinks;
}

.contenido5{
    color: $colorLinks;
}

.contenido6{
    color: $colorLinks;
}

.contenido7{
    color: $colorLinks;
}

.footer{
    color: $colorFooter
}